<!DOCTYPE html>
<html>
    <head>
        <link href="{{url_for('static', filename='style.css', v=0.01)}}" rel='stylesheet'>
        <style>
            .project_text {
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            margin: 0vw 30vw 2vw 25vw;
            font-size: 1.5vw;
        }
        </style>
    </head>
    <body>
        <div id='the_head'>
            <button onclick="window.location.href='{{ url_for('home')}}';" id='button_home' type="button">home</button>
            <button type="button" onclick="window.location.href='{{ url_for('contact_me')}}';" id='button_cont' autofocus>contact me</button>
            <div id='site_name'>ai_takes_over_the_world.com</div>
        </div>

        <div class="cool">
            <img src="{{ url_for('static', filename='digits.png' ) }}" width=100% height=100%>
            <div class="cool_project_name">
                <a>Digits recognition</a>
            </div>
        </div>

        <div class='project_text'>
            <h1>Get answer from 0 to 9</h1>
            <h3>Upload a 28 by 28 pixel image or bigger</h3>
            <form method=post enctype=multipart/form-data>
                <label for="img">Select image:</label>
                <input type="file" name="img" accept="image/*">
                <input type="submit" value=Upload>
            </form>
        </div>
    </body>

    <footer><small>&copy; Copyright 2020, Anastasiia Romanenko</small></footer>
</html>
